.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile{
      .flexDisplay(column, space-evenly, center);
    }

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile{
        width:100%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile{
        width:100%;
        .flexDisplay(column, center, center);
        padding: 0%;
      }

      img {
        border-radius: 10px;

        @media @mobile{
          width:100%;
          
        }
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile{
      .flexDisplay(column-reverse, center, center )
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile{
      width:100%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile{
      width: 100%;
      .flexDisplay(column, center, center);
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile{
        width: 85%;
      }

      .btn{
        .button(6vh, 85%, 15px, rgb(50, 206, 180), white);
        .flexDisplay(row, center, center);
        font-size: 2rem;

        @media @mobile{
          width: 100%;
        }
      }
    }
  }
}// home

//header
header{
  height: 55vh;
  border-bottom: 2px dashed @navigation-border;
  .flexDisplay(column, space-between, flex-start );

  @media @mobile{
    height: 46vh;
  }
  }
 
