// Navigation Styles here

nav{
    .flexDisplay(row, space-between, center );

    .links{
        width: 45%;
        .flexDisplay(row, space-around, center );

        a{
            text-decoration:none;
            color:black;
        }
    }
}